body{
  background-color: #E4E0E1;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  text-align: center;
}

.profile-pic{
  width: 150px;
  border-radius: 50%;
}

.button{
  position:relative;
  display:inline-block;
  margin:20px;
  text-decoration: none;
  background-color: #859F3D;
  color: white;
  padding: 15px 20px;
  text-align: center;
  border-radius: 4px;
}

.button:active{
  top:10px;
  background-color: red;

  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.button:after{
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  background-color:#2B1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.list{
  list-style: none;
  padding-left: 0;

}

.list > li > a {
  color: black;
  font-size: 40px;
}

.list li{
  display: inline;
  padding: 7px;
}
